@page
@model IndexModel
@{
    ViewData["Title"] = "MaxiWoo";
}

<div class="text-center">
    <h1 class="display-4">Comming soon</h1>
    <p style="color: red">MaxiWoo</p>
    <p><img src="~/ibsImages/splash.png" alt="ibs logo" style="height:500px" /></p>
    <div>
        <a href='http://appstore.com/maxiwoo'>
            <img src="~/ibsImages/appstore_badge.svg" style="width:135px" />
        </a>
        <a href='https://play.google.com/store/apps/details?id=com.mxc.ibsdiscountcard'>
            <img alt='Get it on Google Play' src='~/ibsImages/googleplay_badge.png' style="width:135px; height:45px" />
        </a>
    </div>
</div>
